<div class="main_container">
    <div class="header_container">
        Your matches found
    </div>
        <form #form="ngForm" *ngIf="userParams" class="filter_container" (ngSubmit)="loadMembers()" autocomplete="off">
            <div class="agefrom_container">
            <label class="custom-control-label">Age from: </label>
            <input 
                    type="number" 
                    class="form-control ms-1" 
                    style="width: 70px" 
                    name="minAge" 
                    [(ngModel)]="userParams.minAge">
            </div>
            <div class="ageto_container">
                <label class="custom-control-label">Age to: </label>
                <input 
                    type="number" 
                    class="form-control ms-1" 
                    style="width: 70px" 
                    name="maxAge" 
                    [(ngModel)]="userParams.maxAge">
            </div>
            <div class="gendershow_container">
                <label class="custom-control-label">Show: </label>
                <select name="gender" 
                    style="width: 150px" 
                    class="form-select ms-1" 
                    [(ngModel)]="userParams.gender">
                    <option *ngFor="let gender of genderList" [value]="gender.value">
                        {{gender.display}}
                    </option>
                </select>
            </div>
            
            <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
            <button (click)="resetFilters()" class="btn btn-info ms-1" type="submit">Reset Filters</button>
            <button 
                    type="button"
                    class="btn btn-primary" 
                    name="orderBy"
                    [(ngModel)]="userParams.orderBy" 
                    btnRadio="lastActive"
                    (click)="loadMembers()">Last Active</button>
            <button 
                    type="button"
                    class="btn btn-primary" 
                    name="orderBy"
                    [(ngModel)]="userParams.orderBy" 
                    btnRadio="created"
                    (click)="loadMembers()">Newest members</button>
        </form>
        <div class="list_container">
            <div class="list_container_item" *ngFor="let member of members">
                <app-member-card [member]="member"></app-member-card>
            </div>
        </div>
        <div class="list_container" *ngIf="pagination">
                <pagination 
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [maxSize]="10"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
                </pagination>
        </div>
</div>